body{/* propiedades del body */
	background-color: #e0f2f1;/* cambio de color  del body */
	}

#contenedorFom{
	border-radius: 8px;/* redondear los bordes del form */
	background: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);/* sombra del form */
}


/* Desde aqui empieza estilo del panel y tabla*/
#tituloPanel{
	background-color: #003cb3;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	border-radius: 12px 12px 0px 0px;
	color: white;
	padding-bottom: 0;
	margin-bottom: 0;
}
.contenidoPanel{
 border: 0.5px solid #003cb3;
}

 #municipio, #zode{/*  los select */
	border: 0.5px solid #003cb3;
	max-width: 60%;
}
#zod, #munici{ /*label*/
	padding-left: 5%;
  width: 25%;
}

#tituloTabla{
	background-color: #003cb3;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border-radius: 12px 12px 0px 0px;
	width: 100%;
	color: white;

}

.divTabla{
	border: 0.5px solid #003cb3;
	width: 95%;
	border-radius: 14px 14px 0px 0px;
   	 position: center;
}

.tabla{
  background-color: #e6e6e6;
  padding:0.4em;
  border: 0.5px solid #e6e6e6;

}
.tabla1{
  background-color: #e6e6e6;
  width: 30%;
}
.tabla2{
  background-color: #e6e6e6;
  width: 15%;
}
.tabla3{
  background-color: #e6e6e6;
  width: 15%;
}
#divMayor{
transform: translate(2.7%);
}
